
body {
    display: grid;
    grid-template: auto 1fr auto/ 1fr auto;
    background-color: white;
}

header {
    background-color: grey;
    grid-column: 1 / 4;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: black;
}

nav a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    padding: 1rem;
}

h1 {
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1rem;
    padding: .5rem;
}

h2 {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1rem;
    padding: .5rem;
}

main {
    grid-column: 1 / 2;
    background-color: darkgrey;
}

aside { 
    grid-column: 2 / 3;
}

footer {
    grid-column: 1 / 4;
    background-color: black;
    color: white;
    text-align: center;
}