:root {
    --primary-text-color: black;
    --secondary-text-color: white;
    --tertiary-text-color: #AEE7FF;
    --primary-background-color: navy;
    --secondary-background-color: rgba(255, 0, 0, 0.6);
    --tertiary-background-color:rgba(255, 255, 255, 0.8);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
}

header {
    text-align: center;
    background-color: var(--primary-background-color);
    margin: 0 auto;
    padding: 1.5rem;
    max-width: 1200px;
}

#header-title {
    font-size: 3rem;
    font-weight: 700;
    color: var(--secondary-text-color);
    max-width: 1200px;
}

h2 {
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
    font-weight: 600;
    background-color: var(--secondary-background-color);
}

table {
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
    table-layout: fixed;
}

table th:first-child {
    text-align: right;
    padding-right: .5rem;
}

td, th {
    padding: .5rem 1rem;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

footer {
    background-color: var(--primary-background-color);
    color: var(--secondary-text-color);
    text-align: center;
    padding: 1rem 0;
    font-size: 1.5rem;
    max-width: 1200px;
    margin: 0 auto;
}

.last-modified {
    color:var(--tertiary-text-color);
    font-size: 1rem;
}

/*********** MEDIA QUERIES ***********/

@media (min-width: 1000px) {
    main {
        position: relative;
        max-width: 1200px;
        height: auto;
        margin: 0 auto;
    }
    .data {
        top: 1.5rem;
        left: 1.5rem;
    }
    .weather {
        bottom: 1.5rem;
        right: 1.5rem;
    }
    .data, .weather {
        position: absolute;
        margin: 0;
        padding: 0;
        max-width: 400px;
        background-color: var(--tertiary-background-color);
    }
    .weather h2 {
        display: flex;
        align-items: center;
        gap: 3rem;
    }
    .weather h2::after {
        content: "🌦️";
    }
    h2 {
    text-align: left;
    margin: 1rem 0;
    padding: 1rem 2rem;
    font-size: 2rem;
    font-weight: 700;
    background-color: var(--secondary-background-color);
    }
    table {
        min-width: 300px;
        max-width: 640px;
        margin: 0 auto;
        padding: 0 0 1rem;
        table-layout: fixed;
    }
    td, th {
    padding: .1rem .1rem;
    }
    hr {
        display: none;
    }
} 
